.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #837777;
  border-radius: 4px;
  margin-right: 10px;
}

.search-icon {
  font-size: 20px;
  cursor: pointer;
}

.card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.big-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 10px;
}

.price-info {
  margin-top: 10px;
}

.button {
  padding: 8px 16px;
  background-color: #095098;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #040608;
}

/* Styling for the .link */
.link {
  padding: 8px 16px;
  background-color: #095098;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.link:hover {
  color: #fff; /* Changes text to white on hover */
  background-color: #1e61a4; /* Fills background with the primary color */
  border-color: #135ba1; /* Darkens the border on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.link:active {
  background-color: #135ba1; /* Slightly darker background for active state */
  transform: scale(1); /* Resets zoom effect on click */
}

.link:focus {
  outline: 2px solid #80bdff; /* Accessible focus outline */
  outline-offset: 2px;
}
